*Portada*/


.blog-container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-container-cover:before{
    content: '';
    width: 0%;
    height: 100%;
    background: rgb(236, 159, 16) (25, 81, 235, 0.76);
    position: absolute;
    top: 0;
    left: 0
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

/*Contenedor de categorias*/

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container-category a{
    padding: 6px 40px;
    margin: 10px;
    font-size: 20px;
    background: #e2e2e2;
    border-radius: 5px;
    cursor: pointer;
}

.container-category a:hover{
    opacity: 0.8;
}



/*Post - Publicaciones*/

.container-post{
    max-width: 1200px;
    margin: auto;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin-top: 20px;
    padding: 20px;
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
}

.post .ctn-img{
    width: 100%;
}

.post .ctn-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
}


.post button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #f07e0c;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.post button:hover{
    opacity: 0.9;
}


/*sistema de filtrado*/

[value="TODOS"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="Combos/Kits"]:checked ~ .posts .post:not([data-category~=""]),
[value="Hogar y Oficina"]:checked ~ .posts .post:not([data-category~="Hogar y Oficina"]),
[value="Laptop"]:checked ~ .posts .post:not([data-category~="Laptop"]),
[value="Componentes"]:checked ~ .posts .post:not([data-category~="Componentes"]),
[value="Tarjeta Madre"]:checked ~ .posts .post:not([data-category~="Tarjeta Madre"]),
[value="Tarjetas de Video"]:checked ~ .posts .post:not([data-category~="Tarjetas de Video"]),
[value="Almacenamiento"]:checked ~ .posts .post:not([data-category~="Almacenamiento"]),
[value="Enfriamiento"]:checked ~ .posts .post:not([data-category~="Enfriamiento"]),
[value="Fuentes de Poder"]:checked ~ .posts .post:not([data-category~="Fuentes de Poder"]),
[value="Cases"]:checked ~ .posts .post:not([data-category~="Cases"]),
[value="Ventiladores"]:checked ~ .posts .post:not([data-category~="Ventiladores"]),
[value="Monitores"]:checked ~ .posts .post:not([data-category~="Monitores"]),
[value="Teclados"]:checked ~ .posts .post:not([data-category~="Teclados"]),
[value="Mouse"]:checked ~ .posts .post:not([data-category~="Mouse"]),
[value="Combos Gaming"]:checked ~ .posts .post:not([data-category~="Combos Gaming"]),
[value="Headset"]:checked ~ .posts .post:not([data-category~="Headset"]),
[value="Controles"]:checked ~ .posts .post:not([data-category~="Controles"]),
[value="Parlantes"]:checked ~ .posts .post:not([data-category~="Parlantes"]),
[value="Webcam"]:checked ~ .posts .post:not([data-category~="Webcam"]),
[value="Microfonos"]:checked ~ .posts .post:not([data-category~="Microfonos"]),
[value="Straming"]:checked ~ .posts .post:not([data-category~="Straming"]),
[value="Cables"]:checked ~ .posts .post:not([data-category~="Cables"]),
[value="Extensiones"]:checked ~ .posts .post:not([data-category~="Extensiones"]),
[value="Herramientas"]:checked ~ .posts .post:not([data-category~="Herramientas"]),
[value="LED"]:checked ~ .posts .post:not([data-category~="LED"]),
[value="Pasta Térmica"]:checked ~ .posts .post:not([data-category~="Pasta Térmica"]),
[value="Realidad Virtual"]:checked ~ .posts .post:not([data-category~="Realidad Virtual"])

{
    display: none;
}

[value="TODOS"]:checked ~ .container-category [for="TODOS"],
[value="Combos/Kits"]:checked ~ .container-category [for="Combos/Kits"],
[value="Hogar y Oficina"]:checked ~ .container-category [for="Hogar y Oficina"],
[value="Laptop"]:checked ~ .container-category [for="Laptop"],
[value="Componentes"]:checked ~ .container-category [for="Componentes"],
[value="Tarjeta Madre"]:checked ~ .container-category [for="Tarjeta Madre"],
[value="Tarjetas de Video"]:checked ~ .container-category [for="Tarjetas de Video"],
[value="Almacenamiento"]:checked ~ .container-category [for="Almacenamiento"],
[value="Enfriamiento"]:checked ~ .container-category [for="Enfriamiento"],
[value="Fuentes de Poder"]:checked ~ .container-category [for="Fuentes de Poder"],
[value="Cases"]:checked ~ .container-category [for="Cases"],
[value="Ventiladores"]:checked ~ .container-category [for="Ventiladores"],
[value="Monitores"]:checked ~ .container-category [for="Monitores"],
[value="Teclados"]:checked ~ .container-category [for="Teclados"],
[value="Mouse"]:checked ~ .container-category [for="Mouse"],
[value="Combos Gaming"]:checked ~ .container-category [for="Combos Gaming"],
[value="Headset"]:checked ~ .container-category [for="Headset"],
[value="Mousepad"]:checked ~ .container-category [for="Mousepad"],
[value="Controles"]:checked ~ .container-category [for="Controles"],
[value="Parlantes"]:checked ~ .container-category [for="Parlantes"],
[value="Webcam"]:checked ~ .container-category [for="Webcam"],
[value="Microfonos"]:checked ~ .container-category [for="Microfonos"],
[value="Straming"]:checked ~ .container-category [for="Straming"],
[value="Cables"]:checked ~ .container-category [for="Cables"],
[value="Extensiones"]:checked ~ .container-category [for="Extensiones"],
[value="Herramientas"]:checked ~ .container-category [for="Herramientas"],
[value="LED"]:checked ~ .container-category [for="LED"],
[value="Pasta Térmica"]:checked ~ .container-category [for="Pasta Térmica"],
[value="Realidad Virtual"]:checked ~ .container-category [for="Realidad Virtual"]{

    background: #f07e0c;
    color: #fff;
}

@media screen and (max-width: 1200px){
    .posts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    .posts{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px){
    .posts{
        grid-template-columns: repeat(1, 1fr);
    }
} 